*.sqlite3
__pycache__/
*.py[cod]

.scraper/
venv/
.venv/

.vscode/

*.pdf
deploy_heroku.txt

migrations/
staticfiles/

.env
.env.*

api-composicoes-s3_accessKeys.csv

pytest.ini
pytest.ini.save

# Credenciais e arquivos locais
*_accessKeys*.csv
*.backup

# Logs
*.log
